<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<meta name="renderer" content="webkit">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<title>冻结详情</title>
	<link rel="stylesheet" type="text/css" href="__ACSS__/base-v1.3.css">
	<link rel="stylesheet" type="text/css" href="__ACSS__/style.css"></head>
<body class="customer">
	<section class="text">
		<p>尊敬的客户：</p>
		<p>&nbsp;&nbsp;您好！</p>
		<p>&nbsp;&nbsp;由于您三天没有确认我公司推送的设计图消息，该项目现已冻结，解冻请联系：</p>
		<p>韩经理：<a href="tel:15610124999"><span style="color:blue">15610124999</span></a></p>
	</section>
</body>
</html>