<!DOCTYPE html>
<html lang="en">
<head>
<title>员工项目管理系统</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__HCSS__/bootstrap.min.css" />
<link rel="stylesheet" href="__HCSS__/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__HCSS__/colorpicker.css" />
<link rel="stylesheet" href="__HCSS__/datepicker.css" />
<link rel="stylesheet" href="__HCSS__/uniform.css" />
<link rel="stylesheet" href="__HCSS__/select2.css" />
<link rel="stylesheet" href="__HCSS__/matrix-style.css" />
<link rel="stylesheet" href="__HCSS__/matrix-media.css" />
<link rel="stylesheet" href="__HCSS__/bootstrap-wysihtml5.css" />
<link href="__HPUBLIC__/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="__KIND__/themes/default/default.css" />
<link rel="stylesheet" href="__KIND__/plugins/code/prettify.css" />
<script charset="utf-8" src="__KIND__/kindeditor.js"></script>
<script charset="utf-8" src="__KIND__/lang/zh_CN.js"></script>
<script charset="utf-8" src="__KIND__/plugins/code/prettify.js"></script>
<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="describe"]', {
            width: "91.3%", //编辑器的宽度
            height: "430px", //编辑器的高度
            filterMode: false, //不会过滤HTML代码
            resizeType: 0,
            allowPreviewEmoticons: true,
            allowImageUpload: true,
            cssPath: '__KIND__/plugins/code/prettify.css',
            uploadJson: '__KIND__/php/upload_json.php',
            fileManagerJson: '__KIND__/php/file_manager_json.php',
            allowFileManager: true,
            afterCreate: function() {
                var self = this;
                K.ctrl(document, 13, function() {
                    self.sync();
                    K('form[name=news]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function() {
                    self.sync();
                    K('form[name=news]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
   

</script>
</head>
<body>

<include file="Public:head" />
<include file="Public:left" />
<!--close-left-menu-stats-sidebar-->

<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>  <a href="#" class="current">项目分配</a> </div>
  <h1>项目分配({$item.name}--{$item.durations}天)</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span6">


      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
        </div>
        <div class="widget-content nopadding">
          <form action="__APP__/Index/allot_add_do" method="post" class="form-horizontal" enctype="multipart/form-data" >
            <!-- 项目id -->
            <input type="hidden" value="{$id}" name="item_id">
            <!-- 项目id -->
            <!-- 分界线 -->
            <div class="control-group ">
              <label class="control-label span6">设计</label>
              <div class="controls">
                <select name="user_id_ui">
                  <option value="0">请选择</option>
                  <foreach name="UI" item="v">
                    <option value="{$v.id}">{$v.username}</option>
                  </foreach>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">项目工期 / 天</label>
              <div class="controls">
                <input type="number" class="span2" name="duration_ui" />
              </div>
            </div>
            <!-- 分界线 -->
            <div class="control-group ">
              <label class="control-label span6">前端</label>
              <div class="controls">
                <select name="user_id_web">
                  <option value="0">请选择</option>
                  <foreach name="web" item="v">
                    <option value="{$v.id}">{$v.username}</option>
                  </foreach>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">项目工期 / 天</label>
              <div class="controls">
                <input type="number" class="span2" name="duration_web" />
              </div>
            </div>
            <!-- 分界线 -->
            <div class="control-group ">
              <label class="control-label span6">程序</label>
              <div class="controls">
                <select name="user_id_code">
                  <option value="0">请选择</option>
                  <foreach name="code" item="v">
                    <option value="{$v.id}">{$v.username}</option>
                  </foreach>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">项目工期 / 天</label>
              <div class="controls">
                <input type="number" class="span2" name="duration_code" />
              </div>
            </div>
            <!-- 分界线 -->
            <div class="form-actions">
              <button type="submit" class="btn btn-success">提交</button>
            </div>
          </form>
        </div>
      </div>   
    </div>
  </div>
</div></div>
<!--Footer-part-->
<include file="Public:foot" />
<!--end-Footer-part--> 
<script src="__HJS__/jquery.min.js"></script> 
<script src="__HJS__/jquery.ui.custom.js"></script> 
<script src="__HJS__/bootstrap.min.js"></script> 
<script src="__HJS__/bootstrap-colorpicker.js"></script> 
<script src="__HJS__/bootstrap-datepicker.js"></script> 
<script src="__HJS__/jquery.toggle.buttons.html"></script> 
<script src="__HJS__/masked.js"></script> 
<script src="__HJS__/jquery.uniform.js"></script> 
<script src="__HJS__/select2.min.js"></script> 
<script src="__HJS__/matrix.js"></script> 
<script src="__HJS__/matrix.form_common.js"></script> 
<script src="__HJS__/wysihtml5-0.3.0.js"></script> 
<script src="__HJS__/jquery.peity.min.js"></script> 
<script src="__HJS__/bootstrap-wysihtml5.js"></script> 
<script>
  /*$('.textarea_editor').wysihtml5();*/
</script>
</body>
</html>
