<!DOCTYPE html>
<html lang="en">
<head>
<title>员工项目管理系统</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__HCSS__/bootstrap.min.css" />
<link rel="stylesheet" href="__HCSS__/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__HCSS__/uniform.css" />
<link rel="stylesheet" href="__HCSS__/select2.css" />
<link rel="stylesheet" href="__HCSS__/matrix-style.css" />
<link rel="stylesheet" href="__HCSS__/matrix-media.css" />
<link href="__HPUBLIC__/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<style>
  .table td {
    text-align: center;
  }
</style>
</head>
<body>

<include file="Public:head" />
<include file="Public:left" />

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="current">我的信息</a> </div>
    <h1 style="float:left">我的信息</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>员工名称</th>
                  <th>性别</th>
                  <th>生日</th>
                  <th>手机号</th>
                  <th>职位</th>
                  <th>入职日期</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr class="gradeX">
                  <td>{$info.username}</td>
                  <if condition="$info['sex']==0">
                  <td>保密</td>
                  <elseif condition="$info['sex']==1" />
                  <td>男</td>
                  <else />
                  <td>女</td>
                  </if>
                  <td>{$info.birthday}</td>
                  <td>{$info.phone}</td>
                  <td>{$info.name}</td>
                  <td>{$info.entry_time}</td>
                  <td width="150px;">
                    <a href="__APP__/Index/my_editor/id/{$info.id}"><button class='btn btn-primary' style="margin-left:10px">编辑</button></a>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer-part-->
<include file="Public:foot" />
<!--end-Footer-part-->
<script src="__HJS__/jquery.min.js"></script> 
<script src="__HJS__/jquery.ui.custom.js"></script> 
<script src="__HJS__/bootstrap.min.js"></script> 
<script src="__HJS__/jquery.uniform.js"></script> 
<script src="__HJS__/select2.min.js"></script> 
<script src="__HJS__/jquery.dataTables.min.js"></script> 
<script src="__HJS__/matrix.js"></script> 
<script src="__HJS__/matrix.tables.js"></script>

<script type="text/javascript">
  // 删除数据方法
  function del(obj,id){
    // 发送sql语句
    if(confirm("确定删除吗？")){
      $.post('__APP__/Index/users_del',{id:id},function(data){
        // 判断是否成功
        if (data.statu==200) {
          $(obj).parent().parent().remove();
          alert(data.info);
        }else{
          alert(data.info);
        }
      });
    }
  }
</script>
</body>
</html>
