<!DOCTYPE html>
<html lang="en" style="overflow-x:hidden;overflow-y:auto;">
<head>
    <title>添加用户组</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="__ACSS__/bootstrap.min.css"/>
    <link rel="stylesheet" href="__ACSS__/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="__ACSS__/uniform.css"/>
    <link rel="stylesheet" href="__ACSS__/select2.css"/>
    <link rel="stylesheet" href="__ACSS__/matrix-style.css"/>
    <link rel="stylesheet" href="__ACSS__/matrix-media.css"/>
    <link href="__APUBLIC__/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <style>
        .table td {
            text-align: center;
        }
    </style>
</head>
<body>

<include file="Public:head"/>
<include file="Public:left"/>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a
                href="#" class="tip-bottom">用户组管理</a><a href="#" class="current">修改用户组</a></div>
        <h1 style="float:left">修改用户组</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <!--<div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>-->
                    <!--<h5>Static table with checkboxes in box with padding</h5>-->
                    <!--<span class="label label-info">Featured</span>-->
                    <!--</div>-->
                    <form action="__APP__/Auth/group_editor_do" method="post">
                        <div class="control-group" style="margin-left: 20px;margin-top: 20px;">
                            <!--<label class="control-label">员工名称</label>-->
                            <div class="controls">
                                <span style="text-align: center;margin-right: 5px;font-size: 16px;">用户组名：</span>
                                <input type="text" class="span3" name="title" value="{$group.title}"/>
                            </div>
                        </div>
                        <input type="hidden" name="group_id" value="{$group.id}">
                        <div class="widget-content ">
                            <table style="line-height: 40px">
                                <thead>
                                <!--<tr>-->
                                <!--<th>导航</th>-->
                                <!--<th>Column name</th>-->
                                <!--<th>Column name</th>-->
                                <!--<th>Column name</th>-->
                                <!--<th>Column name</th>-->
                                <!--</tr>-->
                                </thead>
                                <tbody>
                                <foreach name="info" item="v" key="k">
                                    <tr>
                                        <if condition="$v['p_id'] == 0">
                                            <td><input type="checkbox" class="xunz_box" data-id="{$k}" data-select="0"/>{$v.title}：&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
                                            <foreach name="info" item="vv">
                                                <if condition="$vv['p_id'] == $v['id']">
                                                    <td><input type="checkbox"  class="input_box" data-id="{$k}" name="rules[]" value="{$vv.id}"
                                                        <php>
                                                            if (in_array($vv['id'],$str)){
                                                            echo " checked ";
                                                            }
                                                        </php>
                                                    />{$vv.title}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </if>
                                            </foreach>
                                        </if>
                                    </tr>
                                </foreach>

                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-success" style="margin-left: 10px;">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-part-->
<include file="Public:foot"/>
<!--end-Footer-part-->
<script src="__AJS__/jquery.min.js"></script>
<script src="__AJS__/jquery.ui.custom.js"></script>
<script src="__AJS__/bootstrap.min.js"></script>
<script src="__AJS__/jquery.uniform.js"></script>
<script src="__AJS__/select2.min.js"></script>
<script src="__AJS__/jquery.dataTables.min.js"></script>
<script src="__AJS__/matrix.js"></script>
<script src="__AJS__/matrix.tables.js"></script>

<script type="text/javascript">
    // 删除数据方法
    function del(obj, id) {
        // 发送sql语句
        if (confirm("确定放入回收站吗？")) {
            $.post('__APP__/Users/users_del', {id: id}, function (data) {
                // 判断是否成功
                if (data.statu == 200) {
                    $(obj).parent().parent().remove();
                    alert(data.info);
                } else {
                    alert(data.info);
                }
            });
        }
    }
</script>
<script>
    $('.xunz_box').click(function () {
        var select = $(this).data('id');
        var ifSelect = parseInt($(this).data('select'));
        if(!ifSelect){
            $(this).parents('tr').find('.input_box').prop('checked',true);
            $(this).parents('tr').find('.input_box').parent().addClass('checked');
            $(this).data('select',1)
        }
        else {
            $(this).parents('tr').find('.input_box').prop('checked',false);
            $(this).parents('tr').find('.input_box').parent().removeClass('checked');
            $(this).data('select',0)
        }
    });
</script>
</body>
</html>
